@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .page-break {
    clear: both;
    break-after: page;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .prose p:has(img) {
    width: calc(100% + 8em);
  }

  .prose table {
    width: calc(100% + 8em); /* This makes the table 8em wider */
    font-size: 0.875rem;
  }

  .prose table th,
  .prose table td {
    font-size: 0.875rem; /* Ensure headers and cells have smaller font size */
  }
}
