@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.ts";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.prose hr {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.prose a[href="mailto:JOHNCMUNSON91@GMAIL.COM"] {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

@media print {
  .page-break {
    clear: both;
    break-after: page;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .prose table {
    font-size: 0.75em;
  }
}
